global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  # JOB GIAO DIEN SPARK UI (Lay thong so HE THONG Spark)
  - job_name: 'spark-master-ui'
    metrics_path: /metrics/master/
    static_configs:
      - targets: ['spark-master:8080']

  # JOB GIAO DIEN SPARK WORKER (Lay thong so WORKER)
  - job_name: 'spark-worker-ui'
    metrics_path: /metrics/worker/
    static_configs:
      - targets: ['spark-worker:8081']

  # JOB CHINH: JOB BRONZE LAYER (Lay metrics tu Python/prometheus_client)
  - job_name: 'spark-bronze' 
    static_configs:
      - targets: ['spark-master:8005']