global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'spark-master'
    metrics_path: /metrics/master/
    static_configs:
      - targets: ['spark-master:8080']

  - job_name: 'spark-worker'
    metrics_path: /metrics/worker/
    static_configs:
      - targets: ['spark-worker:8081']

  - job_name: 'spark-driver'
    metrics_path: /metrics
    static_configs:
      - targets: ['spark-master:8000']
